<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout Logger</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <!-- build:js -->
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import("./app/app")
    </script>
    <!-- endbuild -->
</head>
<body ng-app="workoutLoggerApp">
<div class="container">
    <div class="row">
        <div ng-controller="CalendarCtrl as ctrl">
            <table class="calendar">
                <thead>
                <tr>
                    <th class="day">Sun</th>
                    <th class="day">Mon</th>
                    <th class="day">Tue</th>
                    <th class="day">Wed</th>
                    <th class="day">Thu</th>
                    <th class="day">Fri</th>
                    <th class="day">Sat</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="week in ctrl.weeks">
                    <td class="day" ng-class="day.clazz"
                            ng-click="ctrl.select(day)"
                            ng-repeat="day in week">{{ day.date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">

        <div ng-controller="WorkoutsCtrl as ctrl">
            <form>
                <div class="form-group">
                    <label for="newWorkoutType">Type</label>
                    <input id="newWorkoutType" class="form-control" type="text" ng-model="ctrl.newWorkoutType">
                </div>

                <div class="form-group">
                    <label for="newWorkoutDuration">Duration (mins)</label>
                    <input id="newWorkoutDuration" class="form-control" type="number" ng-model="ctrl.newWorkoutDuration">
                </div>
                <div class="form-group">
                    <label for="newWorkoutDate">Date</label>
                    <input id="newWorkoutDate" class="form-control" type="date" ng-model="ctrl.newWorkoutDate">
                </div>
                <input class="btn btn-primary" type="submit" value="Add" ng-click="ctrl.add()">
            </form>

            <div>
                Workouts
                <input class="btn btn-secondary" type="button" value="Refresh" ng-click="ctrl.init()">
                <ul>
                    <li ng-repeat="workout in ctrl.workouts">
                        {{ workout.id }} - {{ workout.type }} - {{ workout.duration }} - {{ workout.date }} - {{ workout.entryTime }}
                    </li>
                </ul>
            </div>

            <div>
                Dates
                <input class="btn btn-secondary" type="button" value="Refresh" ng-click="ctrl.init()">
                <ul>
                    <li ng-repeat="workoutDate in ctrl.workoutDates">
                        {{ workoutDate | date:"yyyy-MM-dd" }}
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</body>
